<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ControlMac 2026</string>
	<key>CFBundleExecutable</key>
	<string>ControlMac2026</string>
	<key>CFBundleIconFile</key>
	<string>M2026</string>
	<key>CFBundleIdentifier</key>
	<string>uk.controlmac2026.preview</string>
	<key>CFBundleName</key>
	<string>ControlMac 2026</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>101</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Connect to your Meridian Sooloos Core to manage and import music.</string>
</dict>
</plist>
